.chat-popup {
    position: fixed;
    margin: 0 auto;
    inset: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;

    .content-container {
        box-shadow: $box-shadow;
        background-color: $white;
        padding: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
    }

    .close-btn {
        align-self: end;
        cursor: pointer;
    }

    form {
        font-size: 1rem;
        color: $black;

        >* {
            margin-top: 7px;
        }

        h3 {
            text-align: left;
            font-family: $font;
            font-weight: 100;
        }

        .react-multi-email span {
            font-size: smaller;
            cursor: text;
        }

        button {
            cursor: pointer;
        }
    }

    .invalid-email {
        padding: 0;
        background-color: $light-red;
        border-radius: 5px;
        padding: 5px;
        font-size: 0.7rem;
        text-align: start;
    }

    a {
        text-decoration: underline;
        color: blue;
    }

    a:hover {
        opacity: 0.7;
    }


}