.chat-list {
    flex: 1;
    overflow: auto;
    background-color: $white;

    .add-btn{
        padding: 8px 0 8px 60px;
        background-color: $light-gray;
        cursor: pointer;
        font-size: 15px;
        &:hover {
            background-color: $light-gray;
        }
    }

    .chat-preview {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        padding: 5px 0 0 15px;

        &:hover {
            background-color: $light-gray;
        }

    }

    .preview-info {
        padding: 0 0 8px 15px;
        width: 100%;
        border-bottom: 1px solid $white-smoke;
    }

    .user-name {
        font-size: 18px;
        font-weight: 600;
    }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}