.chat-list {
    flex: 1;
    overflow: auto;
    background-color: $white;

    .add-btn {
        padding: 8px 0 8px 60px;
        background-color: $light-gray;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            background-color: $light-gray;
        }
    }

    .chat-preview {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        padding: 5px 0 0 15px;

        &:hover {
            background-color: $light-gray;
        }

    }

    .preview-info {
        padding: 0 0 8px 15px;
        width: 100%;
        border-bottom: 1px solid $white-smoke;

        // height: 100%;
        p {
            max-width: calc($sidebar-width - 6rem);
            overflow: hidden;
            white-space: nowrap;
            // max-width: calc(100vw - $sidebar-width - 8rem);
            text-overflow: ellipsis;
            height: 1rem;
        }

    }

    .user-name {
        font-size: 18px;
        font-weight: 600;
    }

}