.chat-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $white-smoke;
    background-color: $light-gray;
    padding: 0.26rem 0.8rem;

    //     overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    .profile {
        height: 1.9rem;
        width: 1.9rem;
        margin-inline-end: 15px;
        margin-block: 4px;
    }

    .chat-icons {
        display: flex;
        width: 100%;
        // just-items: end;
        justify-content: end;

        .MuiSvgIcon-root {
            font-size: 1.2rem !important;
        }
        
        .MuiButtonBase-root-MuiIconButton-root{
            margin-inline-end: 0.8vw;
        }
    }

    .chat-info {
        flex-grow: 1;
        width: 100%;
    }

    .user-name {
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 10rem);
        text-overflow: ellipsis;
    }

    p {
        font-size: 13px;
        color: $light-blue;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 10rem);
        text-overflow: ellipsis;
    }

    input{
        flex-grow: 1;
        border-radius: 5px;
        border: none;
        // height: 100%;
        // width: 100%;
        outline: none;
        padding-inline-start: 10px;
        margin-inline-end: 5px;
        // margin-block: 5px ;
        font-size: 0.71rem;
// margin-block: 3px;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 8rem);
        text-overflow: ellipsis;
    }
}