.chat-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $white-smoke;
    background-color: $light-gray;
    padding: 0.26rem 0.8rem;

    //     overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    .profile {
        height: 1.9rem;
        width: 1.9rem;
        margin-inline-end: 15px;
        margin-block: 4px;
    }

    .prev-btn {
        display: none;
    }

    .chat-icons {
        display: flex;
        width: 100%;
        // just-items: end;
        justify-content: end;

        .MuiSvgIcon-root {
            font-size: 1.2rem !important;
        }

        .MuiButtonBase-root-MuiIconButton-root {
            margin-inline-end: 0.8vw;
            // padding: 0;
        }
    }

    .chat-info {
        flex-grow: 1;
        width: 100%;
    }

    .user-name {
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 10rem);
        text-overflow: ellipsis;
    }

    p {
        font-size: 0.8125rem;
        color: $light-blue;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 10rem);
        text-overflow: ellipsis;
    }

    input {
        flex-grow: 1;
        border-radius: 5px;
        border: none;
        // height: 100%;
        // width: 100%;
        outline: none;
        padding-inline-start: 10px;
        margin-inline-end: 5px;
        // margin-block: 5px ;
        font-size: 0.71rem;
        // margin-block: 3px;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100vw - $sidebar-width - 8rem);
        text-overflow: ellipsis;
    }

    @include for-tablet-layout {

    padding: 0.2rem 0.4rem;

        .prev-btn {
            display: flex;
            
            // align-items: end;
            // justify-content: end;
            .MuiSvgIcon-root {
                // position: absolute;
                // right: 0;
                font-size: 0.8rem !important;
                // text-align: center;
                // width:80%;
            }
    
            // .MuiButtonBase-root-MuiIconButton-root {
            //     margin-inline-end: 0.8vw;
            // }
        }

        p{
            font-size: 0.65rem;
            max-width: calc(100vw - 8.5rem);
        }
        .user-name{
            font-size: 0.85rem;
            max-width: calc(100vw - 8.5rem);
        }
        
        input {
            max-width: calc(100vw - 8rem);

        }

        .chat-icons .MuiSvgIcon-root {
            font-size: 1rem !important;
        }

        .chat-icons .MuiButtonBase-root-MuiIconButton-root {
            margin-inline-end: 0.5vw;
        }
    }
    // @include for-mobile-layout {

    // padding: 0.2rem 0.4rem;

    //     .prev-btn {
    //         display: flex;
            
    //         // align-items: end;
    //         // justify-content: end;
    //         .MuiSvgIcon-root {
    //             // position: absolute;
    //             // right: 0;
    //             font-size: 0.8rem !important;
    //             // text-align: center;
    //             // width:80%;
    //         }
    
    //         // .MuiButtonBase-root-MuiIconButton-root {
    //         //     margin-inline-end: 0.8vw;
    //         // }
    //     }

    //     p{
    //         font-size: 0.65rem;
    //         max-width: calc(100vw - 8.5rem);
    //     }
    //     .user-name{
    //         font-size: 0.85rem;
    //         max-width: calc(100vw - 8.5rem);
    //     }
        
    //     input {
    //         max-width: calc(100vw - 8rem);

    //     }

    //     .chat-icons .MuiSvgIcon-root {
    //         font-size: 1rem !important;
    //     }

    //     .chat-icons .MuiButtonBase-root-MuiIconButton-root {
    //         margin-inline-end: 0.5vw;
    //     }
    // }
}