.chat-body {
    // position: relative;
    flex: 1;
    // background-image:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-image: linear-gradient(rgba(239, 234, 226, 0.5), rgba(239, 234, 226, 0.5)), url("../../imgs/bg.png");
    background-color: $beige;
    background-repeat: repeat;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 15px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
// .msg-list{
    // height: calc(100vh - 290.79px - 290.79px);

// }
    .chat-msg {
        position: relative;
        padding: 9px;
        background-color: $white;
        border-radius: 10px;
        width: fit-content;
        max-width: 60%;
        margin-bottom: 4px;
        overflow-wrap: anywhere;
        // box-shadow: 0px 1px 0px 0px #b9b9b978;
        // z-index: 3;
        box-shadow: 1px -1px 3px 1px rgba(196, 196, 196, 0.25);
        // box-shadow: 1px -1px 1px 0px rgba(196, 196, 196, 0.25);
        // box-shadow: 0px -1px 1px #b1b1b169;
    }

    //     .chat-msg:before{
    //         content: "";
    //   position: absolute;
    //   z-index: 0;
    //   bottom: 0;
    //   right: -8px;
    //   height: 20px;
    //   width: 20px;
    //   background: linear-gradient(to bottom, $light-green 0%, $light-green 100%);
    //   background-attachment: fixed;
    //   border-bottom-left-radius: 15px;
    //     }
    //     .chat-msg:after{
    //         content: "";
    //   position: absolute;
    //   z-index: 1;
    //   bottom: 0;
    //   right: -10px;
    //   width: 10px;
    //   height: 20px;
    //   background: white;
    //   border-bottom-left-radius: 10px;
    //     }

    .chat-msg.reciever {
        margin-left: auto;
        background-color: $light-green;
        box-shadow: -1px -1px 3px 1px rgba(196, 196, 196, 0.25);
    }

    .content {
        font-size: 14.2px;
    }

    .username {
        font-size: 12.8px;
    }

    .timestamp {
        font-size: 11px;
        text-align: end;
    }


    // .rect:not(.reciever) {
    //     margin-right: auto;
    //     // background-color: $white;
    //     position: absolute;
    //     left: -11px;
    //     top: 0px;
    //     // transform: rotate(-15deg);
    //     width: 0;
    //     height: 0;
    //     border-top: 20px solid $white;
    //     border-left: 20px solid transparent;
    //     z-index: 2;
    //     box-shadow: 0px -1px 0px 0px rgba(196, 196, 196, 0.084);
    // }
    // .rect:not(.reciever) {
    //     margin-right: auto;
    //     // background-color: $white;
    //     position: absolute;
    //     left: -11px;
    //     top: 19.8px;
    //     // transform: rotate(-15deg);
    //     width: 0;
    //     height: 0;
    //     border-top: 20px solid $white;
    //     border-left: 20px solid transparent;
    //     z-index: 2;
    //     box-shadow: 0px -1px 0px 0px rgba(196, 196, 196, 0.084);
    // }
    .rect:not(.reciever) {
        margin-right: auto;
        // background-color: $white;
        position: absolute;
        left: -11px;
        top: 0;
        // transform: rotate(-15deg);
        width: 0;
        height: 0;
        border-top: 20px solid $white;
        border-left: 20px solid transparent;
        z-index: 2;
        box-shadow: 0px -1px 0px 0px rgba(196, 196, 196, 0.084);
    }

    .rect.reciever {
        margin-left: auto;
        // background-color: $white;
        position: absolute;
        right: -11px;
        top: 0;
        // transform: rotate(15deg);
        width: 0;
        height: 0;
        border-top: 20px solid $light-green;
        // border-bottom: 20px solid red;
        border-right: 20px solid transparent;
        z-index: 2;
        // box-shadow: 0px -1px 1px #b1b1b169;
        box-shadow: 0px -1px 0px 0px rgba(196, 196, 196, 0.084);
    }

    // .rect.reciever {
    //     margin-left: auto;
    //     // background-color: $white;
    //     position: absolute;
    //     left: 11px;
    //     top: 19.8px;
    //     // transform: rotate(15deg);
    //     width: 0;
    //     height: 0;
    //     border-top: 20px solid $light-green;
    //     // border-bottom: 20px solid red;
    //     border-right: 20px solid transparent;
    //     z-index: 2;
    //     // box-shadow: 0px -1px 1px #b1b1b169;
    //     box-shadow: 0px -1px 0px 0px rgba(196, 196, 196, 0.084);
    // }
    // .circle:not(.reciever) {
    //     background-color: $beige;
    //     // background-color: $white;
    //     position: relative;
    //     left: -32px;
    //     top: -28px;
    //     width: 40px;
    //     height: 20px;
    //     transform: rotate(-45deg);
    //     border-radius: 50%;
    //     z-index: 2;
    // }

    // .rect:not(.reciever) {
    //     // background-color: $white;
    //     position: relative;
    //     left: -15px;
    //     bottom: 48px;
    //     transform: rotate(-15deg);
    //     width: 0;
    //     height: 0;
    //     border-bottom: 20px solid $white;
    //     border-left: 20px solid transparent;
    // }
    // .circle.reciever {
    //     background-color: $beige;
    //     // background-color: $white;
    //     position: relative;
    //     left: 32px;
    //     top: -28px;
    //     width: 40px;
    //     height: 20px;
    //     transform: rotate(45deg);
    //     border-radius: 50%;
    //     z-index: 2;
    // }

    // .rect.reciever {
    //     // background-color: $white;
    //     position: relative;
    //     left: 15px;
    //     bottom: 48px;
    //     transform: rotate(15deg);
    //     width: 0;
    //     height: 0;
    //     border-bottom: 20px solid $light-green;
    //     // border-bottom: 20px solid red;
    //     border-right: 20px solid transparent;
    // }

//     .chat-timestamp {
//         // display: flex;
//         // align-self: center;
//         // justify-self: center;
//         // width: min-content;
//         background-color: $light-gray;
//         font-size: 11px;
//         // text-align: center;
//         padding: 2px 10px;
//         position: relative;
//         left: calc(50% - 10px);
//         max-width: max-content;
//         border-radius: 5px;
//         margin-bottom: 4px;
//         opacity: 0.9;
//         box-shadow: 0px -1px 3px 0px rgb(166 165 165 / 39%);
// z-index: 3;
// transition: opacity 0.4s;

//         // width: calc(100% + 20px);
//     }
    .chat-timestamp {
        // display: flex;
        // align-self: center;
        // justify-self: center;
        // width: min-content;
        background-color: $light-gray;
        font-size: 11px;
        // text-align: center;
        padding: 2px 10px;
        position: relative;
        
        left: calc(50% - 10px);
        max-width: max-content;
        border-radius: 5px;
        margin-bottom: 4px;
        opacity: 0.9;
        box-shadow: 0px -1px 3px 0px rgb(166 165 165 / 39%);
z-index: 3;
transition: opacity 0.4s;

        // width: calc(100% + 20px);
    }

    // Select all items except the first
    .chat-timestamp.sticky{
        position: sticky;
        top: 0;
        opacity: 0;
    }
    
    // .chat-timestamp.sticky.first {
    //     opacity: 0.9;
    // }

    // .chat-timestamp.absolute{
    //     position: absolute;
    //     // position: absolute;
    //     left: calc($sidebar-width + (100vw - $sidebar-width) / 2 - 10px);
    //     // left: 50px;
    //     // right: 0;
    //     // right: calc(calc(100vw - $sidebar-width) / 2);
    //     // position: fixed;
    //     // transition: opacity 0.4s;
    // }
}

.scrolled .chat-timestamp.sticky{
    opacity: 0.9;
    // transition: opacity 0.4s;
}
.msg-preview {
    position: relative;
    // margin: 0;
    // padding: 0;
    // height: calc(100% - 20px);
}