/* Dropdown Button */
// .dropbtn {
//     background-color: #3498DB;
//     color: white;
//     padding: 16px;
//     // font-size: 0.5rem;
//     border: none;
//     cursor: pointer;
//   }
  
  /* Dropdown button on hover & focus */
//   .dropbtn:hover, .dropbtn:focus {
//     background-color: #2980B9;
//   }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    z-index: 3;
    // position: relative;
    // display: inline-block;
    text-align: start;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    // display: flex;
    // flex-direction: column;
    // // align-items: center;
    // justify-content: center;
    // display: none;
    position: absolute;
    right: 0.2rem;
    top: 2.675rem;
    background-color: $white;
    min-width: 8.75rem;
    box-shadow: $box-shadow;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.8875rem;
    border-radius: 3px;
    padding: 8px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a,.dropdown-content section {
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover,.dropdown-content section:hover {background-color: $light-gray;}
  
  .dropdown-content section{
    position: relative;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
//   .show {display:block;}

@include for-tablet-layout {
    .dropdown-content {
        // display: none;
        // position: absolute;
        right: 0.4rem;
        top: 2.2rem;
        padding: 8px 0;
        // font-size: 0.7rem;
        min-width: 7rem;
        font-size: 0.8rem;
    }

    .dropdown-content a{
        margin: 0 8px;
        padding: 10px;
    }
    
    .dropdown-content a:not(:last-child) {
        border-bottom: 1px solid $darker-gray;
    }
    
    .dropdown-content section{
        margin: 0 8px;
        padding: 10px;
        border-bottom: 1px solid $darker-gray;

    }
}
// @include for-mobile-layout {
//     .dropdown-content {
//         // display: none;
//         // position: absolute;
//         right: 0.4rem;
//         top: 2.2rem;
//         padding: 0;
//         // font-size: 0.7rem;
//         min-width: 7rem;
//         font-size: 0.8rem;
//     }

//     .dropdown-content a{
//         margin: 0 8px;
//         padding: 10px;
//     }

//     .dropdown-content a:not(:last-child) {
//         border-bottom: 1px solid $darker-gray;
//     }
// }