.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 0.43rem 0.8rem;
    border-right: 1px solid lightgray;
    position: relative;

    .profile {
        height: 1.9rem;
        width: 1.9rem;
        align-self: center;
        // position: relative;
    }

    .profile::after{
        // background-color: rgba(255, 255, 255, 0);
        content: 'Upload';
        font-size: 0.4rem;
        // color: var(--clr2);
        position: absolute;
        // top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00000070;
        color: $light-gray;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s;
    }
    
    .img-container:hover .profile::after {
        opacity: 1;
    }

    .img-container {
        position: relative;
    }

    input[type='file'] {
        opacity: 0;
        cursor: pointer;
        font-size: 0;
        position: absolute;
        top: 0;
        height: 1.9rem;
        width: 1.9rem;
        border-radius: 50%;

    }
}

.sidebar-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    // min-width: 10vw;

    .MuiButtonBase-root {
        margin-left: 0.8vw;
        // position: relative;
        // padding: 0;
        // right: 5px;
        right: -12px;
    }

    .MuiSvgIcon-root {
        font-size: 1.1rem !important;
    }

    .selected {
        background-color: $darker-gray !important;

    }

    // .MuiIconButton-root{

    // }

    @include for-tablet-layout {
        .MuiButtonBase-root {
            right: -0.766rem;
        }

        // .selected,.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
        // .selected{
        //     background-color:$darker-gray !important;

        // }
    }

    // @include for-mobile-layout {
    //     .MuiButtonBase-root {
    //         right: -0.766rem;
    //     }

    //     // .selected,.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
    //     // .selected{
    //     //     background-color:$darker-gray !important;

    //     // }
    // }
}