.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 0.43rem 0.8rem;
    border-right: 1px solid lightgray;

    .profile {
        height: 1.9rem;
        width: 1.9rem;
        align-self: center;
    }
}

.sidebar-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    
    .MuiButtonBase-root {
        margin-left: 0.8vw;
        position: relative;
    }

    .MuiSvgIcon-root {
        font-size: 1.1rem !important;
    }
    
    .selected{
        background-color:$darker-gray;

    }
    // .MuiIconButton-root{

    // }
}
