.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 0.43rem 0.8rem;
    border-right: 1px solid lightgray;
position: relative;
    .profile {
        height: 1.9rem;
        width: 1.9rem;
        align-self: center;
    }
}

.sidebar-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    // min-width: 10vw;
    
    .MuiButtonBase-root {
        margin-left: 0.8vw;
        // position: relative;
        // padding: 0;
        // right: 5px;
        right: -12px;
    }

    .MuiSvgIcon-root {
        font-size: 1.1rem !important;
    }
    
    .selected{
        background-color:$darker-gray !important;

    }
    // .MuiIconButton-root{

    // }

    @include for-tablet-layout {
        .MuiButtonBase-root {
            right: -0.766rem;
        }

        // .selected,.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
        // .selected{
        //     background-color:$darker-gray !important;
    
        // }
    }
    // @include for-mobile-layout {
    //     .MuiButtonBase-root {
    //         right: -0.766rem;
    //     }

    //     // .selected,.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
    //     // .selected{
    //     //     background-color:$darker-gray !important;
    
    //     // }
    // }
}
