// BGCS
$darker-gray: rgb(209, 210, 210);
$light-gray: #f0f2f5;
$white: white;
$dark-white: #f8f8f8;
$light-green: #dcf8c6;
$green: #25d366;
$dark-green: #0a8d48;
$camel: #efeae2;
$beige: #efeae2;
$light-red: #f1060638;
// COLORS
// Icons
$dark-gray: #111b21;
// Filter
$gray: #8696a0;
// Txt
$black: #111b21;
$light-blue: #667781;
// Border
$white-smoke: rgb(228, 228, 228);

// FONTS
$font: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;

// WIDTHS
$sidebar-width: 236.56px;

// BOX SHADOW
$box-shadow: rgba(11, 20, 26, 0.26) 0px 2px 5px 0px, rgba(11, 20, 26, 0.16) 0px 2px 10px 0px;